body {
    background: #000000;
    h1{
        text-align: center;
        color: #ffffff;
    }
    h2{
        text-align: center;
        color: #ffffff;
    }

    ol{
        #Red{
            color: red;
        }
        #Purple{
            color: purple;
        }
        #Blue{
            color: blue;
        }
        #Green{
            color: green;
        }
        #Orange{
            color: orange;
        }
    }

    h3{
        color: white;
        text-align: center;
        position: relative;
        top: 550px;
    }
  }